// Brand colors & settings
$white: #fff;
$orange: #e36914;
$orange-invert: $white;
$orange-dark: #b15210;
$orange-light: #fef1e8;
$orange-border: #fcbf94;
$orange-border-lighter: #fdd4b7;
$grey-dark: #101828;
$grey-light: #475467;
$grey-light-button: #344054;
$grey-light-border: #d0d5dd;
$alternative-bg: #f5f5f5;
$alternative-bg-invert: #0f1629;
$weight-medium: 500;
$weight-semibold: 600;

@use "bulma/sass" with (
  // Colors
  $grey-dark: $grey-dark,
  $grey-light: $grey-light,
  $custom-colors: (
    "orange": (
      $orange,
      $orange-invert,
    ),
    "orange-dark": (
      $orange-dark,
      $orange-invert,
    ),
    "white": (
      $white,
      $grey-light-button,
    ),
    "alternative-bg": (
      $alternative-bg,
      $alternative-bg-invert,
    ),
    "grey-light-border": (
      $grey-light-border,
      $white,
    )
  ),
  $primary: $orange,
  $text-strong: $grey-dark,
  $title-color: $grey-dark,
  $text: $grey-light,
  $link: $orange,
  $navbar-tab-hover-background-color: $white,
  $navbar-dropdown-arrow: $grey-light,
  $footer-background-color: $white,
  $navbar-item-hover-background-l-delta: 0%,
  $navbar-item-active-background-l-delta: 0%,

  // Buttons
  $button-weight: $weight-semibold,
  $button-padding-horizontal: 1.2em,

  // Typography
  $family-primary: '"Inter", sans-serif',
  $title-weight: $weight-semibold,
  $title-size: 2.4em,
  $title-line-height: 1.2em,
  $subtitle-size: 1.1em,
  $subtitle-line-height: 1.5em,

  // Other
  $navbar-height: 80px,
  $control-border-width: 1px,
  $input-shadow: none,
  $navbar-breakpoint: 800px,
  $tablet: 450px,
  $footer-padding: 1.5rem,
  $media-spacing: 0.7rem,
  $media-spacing-large: 1.1rem
);

@use "@fortawesome/fontawesome-free/scss/variables" with (
  $font-path: "../webfonts",
  $font-display: swap
);
// load Font Awesome core
@use "@fortawesome/fontawesome-free/scss/fontawesome";
// helpers (mixins, functions, variables)
@use "@fortawesome/fontawesome-free/scss/fa" as fa;
// individual styles
@use "@fortawesome/fontawesome-free/scss/solid" as fa-solid;
@use "@fortawesome/fontawesome-free/scss/brands" as fa-brands;
@use "@fortawesome/fontawesome-free/scss/regular" as fa-regular;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: "swap";
  src: url(../webfonts/Inter/Inter-normal-400);
  src:
    local("Inter"),
    url(../webfonts/Inter/Inter-normal-400.ttf) format("truetype"),
    url(../webfonts/Inter/Inter-normal-400.woff2) format("woff2"),
    url(../webfonts/Inter/Inter-normal-400.woff) format("woff"),
    url(../webfonts/Inter/Inter-normal-400.svg#Inter) format("svg"),
    url(../webfonts/Inter/Inter-normal-400?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: "swap";
  src:
    url(../webfonts/Inter/Inter-normal-500.ttf) format("truetype"),
    url(../webfonts/Inter/Inter-normal-500.woff2) format("woff2"),
    url(../webfonts/Inter/Inter-normal-500.woff) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: "swap";
  src:
    url(../webfonts/Inter/Inter-normal-600.ttf) format("truetype"),
    url(../webfonts/Inter/Inter-normal-600.woff2) format("woff2"),
    url(../webfonts/Inter/Inter-normal-600.woff) format("woff");
}

html[data-theme="light"] {
  --bulma-hover-l-delta: 20%;
  --bulma-accent-foreground: hsl(212deg, 47%, 11%);
  --bulma-accent-background: hsl(210deg, 40%, 96%);
  --bulma-faq-menu-a-border: rgba(0, 0, 0, 0.08);
  --bulma-cell-border: rgba(0, 0, 0, 0.1);
  --bulma-cell-border-hover: rgba(0, 0, 0, 0.35);

  .logo-dark {
    display: none;
  }

  button.toggle-theme {
    svg.light {
      transform: scale(1) rotate(0deg);
    }
    svg.dark {
      transform: scale(0) rotate(-90deg);
    }
  }
  .grayscale img {
    filter: grayscale(100%);
  }
  .grayscale img:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  .circle {
    color: var(--bulma-orange);
    background-color: var(--bulma-orange-light);
  }
}

/*! purgecss start ignore */
html[data-theme="dark"]:root {
  --bulma-accent-foreground: hsl(210deg, 40%, 98%);
  --bulma-accent-background: hsl(216deg, 34%, 17%);
  --bulma-faq-menu-a-border: rgba(255, 255, 255, 0.08);
  --bulma-border: hsl(216, 34%, 17%);
  --bulma-cell-border: var(--bulma-border);
  --bulma-cell-border-hover: hsl(218, 28%, 30%);

  --bulma-hr-background-color: var(--bulma-border);

  --bulma-scheme-main: hsl(227, 82%, 4%);
  --bulma-scheme-h: 227;
  --bulma-scheme-s: 82%;
  --bulma-scheme-main-l: 4%;
  --bulma-scheme-main-bis-l: 4%;

  --bulma-text: hsl(0, 0%, 88%);
  --bulma-primary: hsl(24, 100%, 68%);
  --bulma-primary-h: 24;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 68%;

  --bulma-orange: #ee7f2f;
  --bulma-orange-h: 24;
  --bulma-orange-s: 100%;
  --bulma-orange-l: 68%;

  --bulma-link: hsl(24, 100%, 68%);
  --bulma-link-text: hsl(24, 100%, 68%);
  --bulma-link-text-hover: hsl(25, 85%, 56%);
  --bulma-link-text-active: hsl(25, 85%, 56%);

  --bulma-grey-dark: hsl(213, 31%, 91%);
  --bulma-grey-light: #b0b0b0;

  --bulma-navbar-h: 227;
  --bulma-navbar-s: 84%;
  --bulma-navbar-l: 4%;

  --bulma-alternative-bg: hsl(223, 47%, 11%);

  .title {
    --bulma-title-color: #e1e7ef;
  }
  .button.with-text.close {
    border-color: var(--bulma-border);
  }
  .button.with-text.close:hover {
    border-color: var(--bulma-cell-border-hover);
  }
  .button.is-orange.is-inverted {
    background-color: var(--bulma-scheme-main);
    color: var(--bulma-primary);
  }
  .button.is-orange.is-inverted:hover,
  .button.is-orange.is-inverted:active,
  .button.is-orange.is-inverted:focus {
    filter: brightness(120%);
  }
  .button.is-white {
    --bulma-button-background-l: var(--bulma-scheme-l);
    --bulma-grey-light-border: var(--bulma-accent-foreground);
    color: var(--bulma-text);
  }
  .button.is-white:hover,
  .button.is-white:active,
  .button.is-white:focus {
    background-color: var(--bulma-accent-background);
    color: var(--bulma-accent-foreground);
  }
  .has-text-orange-dark {
    color: var(--bulma-orange) !important;
  }
  .is-orange {
    --bulma-button-h: 25deg;
    --bulma-button-s: 86%;
    --bulma-button-l: 56%;
    --bulma-button-background-l: 56%;
    color: var(--bulma-scheme-main);
  }
  .button.is-orange:hover,
  .button.is-orange.is-hovered {
    --bulma-button-h: var(--bulma-orange-h);
    --bulma-button-s: var(--bulma-orange-s);
    --bulma-button-l: var(--bulma-orange-l);
    --bulma-button-background-l-delta: 0%;
    --bulma-button-background-l: var(--bulma-orange-l);
  }
  .menu {
    --bulma-menu-label-color: var(--bulma-text);
    a {
      --bulma-menu-item-color-l: 88%;
    }
    a.is-active {
      --bulma-menu-item-h: 0;
      --bulma-menu-item-s: 0%;
      --bulma-menu-item-backround-l: 88%;
    }
  }
  .footer {
    --bulma-footer-background-color: var(--bulma-scheme-main);
  }
  .modal {
    --bulma-modal-background-background-color: hsl(0, 0%, 20%);
  }
  .modal-card-head {
    border: 1px solid var(--bulma-border);
    border-bottom: none;
  }
  .modal-card-body {
    border: 1px solid var(--bulma-border);
    border-top: none;
    border-bottom: none;
  }
  .modal-card-foot {
    border: 1px solid var(--bulma-border);
    border-top: none;
  }
  .content {
    --bulma-content-blockquote-background-color: var(--bulma-alternative-bg);
  }
  .logo-light {
    display: none;
  }
  button.toggle-theme {
    svg.dark {
      transform: scale(1) rotate(0deg);
    }
    svg.light {
      transform: scale(0) rotate(90deg);
    }
  }
  .invert-img {
    filter: invert(1) brightness(200%) grayscale(50%);
  }
  .grayscale img,
  .partners-page img {
    filter: grayscale(100%) invert(100%) brightness(90%);
  }
  .grayscale img:hover {
    filter: grayscale(100%) invert(100%) brightness(120%);
    opacity: 1;
  }
  .rounded {
    color: var(--bulma-scheme-main);
    background-color: var(--bulma-orange);
    border-color: var(--bulma-border);

    .light-bg {
      background-color: var(--bulma-orange);
      filter: brightness(120%);
    }
  }
  .circle {
    background-color: var(--bulma-scheme-main);
    color: var(--bulma-primary);
    border: 1px solid var(--bulma-primary);
    line-height: 33px;
  }
  .history .circle {
    line-height: 31px;
  }
  img.screenshot.main {
    padding: 0;
  }
  img.screenshot {
    border-color: #283e5e;
  }
  .partners {
    .a2a:hover,
    .ura:hover {
      filter: grayscale(100%) invert(100%) brightness(170%);
    }
    .gsoc:hover {
      filter: grayscale(100%) invert(100%) brightness(200%);
    }
  }
}
/*! purgecss end ignore */

// general
.text a:not(.button, .rounded)[href] {
  text-decoration: underline;
}
.text a:not(.button, .rounded)[href]:hover,
.text a:not(.button, .rounded)[href]:focus,
.text a:not(.button, .rounded)[href]:active {
  color: var(--bulma-link-text-hover);
}
.text a:not(.button, .rounded)[href]:visited {
  color: var(--bulma-link-text-hover);
}
body {
  min-width: 370px;
}
// menu
#header-nav {
  margin: 5px auto;
  padding: 0 1em;
}
#header-nav .navbar-item img {
  max-height: 90px;
}
.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.navbar-item.has-dropdown:focus-visible {
  outline-color: hsl(
    var(--bulma-focus-h),
    var(--bulma-focus-s),
    var(--bulma-focus-l)
  );
  outline-offset: var(--bulma-focus-offset);
  outline-style: var(--bulma-focus-style);
  outline-width: var(--bulma-focus-width);
}
#main-menu .navbar-center a:hover,
#main-menu .navbar-center a:focus,
#main-menu .navbar-center a:active,
.navbar-brand a:hover,
.navbar-brand a:focus,
.navbar-brand a:active {
  outline: 0 none;
}
.navbar-brand a:hover,
.navbar-brand a:focus,
.navbar-brand a:active {
  filter: brightness(115%);
}
#main-menu .navbar-center a,
#main-menu .navbar-center span.navbar-link {
  font-size: 15px;
  font-weight: $weight-semibold;
  color: var(--bulma-grey-light);
}
#main-menu .navbar-center a:hover,
#main-menu .navbar-center a:focus,
#main-menu .navbar-center a:active,
#main-menu .navbar-center span.navbar-link:hover,
#main-menu .navbar-center span.navbar-link:focus,
#main-menu .navbar-center span.navbar-link:active {
  color: var(--bulma-orange);
}
#main-menu .has-dropdown .navbar-link:hover::after,
#main-menu .has-dropdown .navbar-link:focus::after,
#main-menu .has-dropdown .navbar-link:active::after,
#main-menu .has-dropdown .navbar-link.is-active::after {
  border-color: var(--bulma-orange);
}
#main-menu .has-dropdown .navbar-link {
  cursor: default;
}
#main-menu .navbar-center a.is-active {
  color: var(--bulma-orange);
  cursor: default;
}
.navbar-dropdown {
  margin-top: -28px;
}
.has-dropdown .navbar-link::after {
  border-width: 2px;
}
.toggle-theme-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.toggle-theme {
  margin-right: 5px;
  margin-bottom: -1px;
  position: relative;
  color: var(--bulma-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem; /* rounded-md */
  height: 2.3rem;
  width: 2.3rem;
  transition-duration: 0.15s;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    position: absolute;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.toggle-theme:hover,
.toggle-theme:active,
.toggle-theme:focus {
  background-color: var(--bulma-accent-background);
  color: var(--bulma-accent-foreground);
}
// buttons
.button.with-text .fas {
  margin-right: 0.5em;
}
.button.is-white {
  outline: 1px solid var(--bulma-grey-light-border);
}
.button.is-orange.is-inverted {
  outline: 1px solid rgba($orange, 0.4);
}
p.button-container .button {
  margin: 5px;
}
#top-feature-container {
  min-height: var(--km);
}
.rounded {
  padding: 0.6em 0.4em;
  border-radius: 20px;
  border: 1px solid $orange-border;
  font-size: 0.75em;
  font-weight: $weight-medium;
  color: var(--bulma-orange-dark);
  background-color: var(--bulma-orange-light);
}
a.rounded:hover {
  background-color: darken($orange-light, 5%);
}
.rounded .rounded {
  padding: 0.25em 0.2em 0.25em 0.4em;
  margin-right: 0.5em;
  font-size: 1em;
}
.light-bg {
  background-color: rgba(255, 255, 255, 0.8);
}
// typography
.title:not(.is-size-6) {
  letter-spacing: -0.7px;
}
.features.grid .button {
  margin-bottom: 0.6em;
}
.features.grid h2 {
  margin-bottom: 0.3em;
}
.features.grid h2 > span,
.features.grid h2 a > span:not(.icon, .button) {
  display: block;
}
h3,
h4,
.features h2 > span,
.features h2 a > span:not(.icon, .button) {
  font-weight: $weight-semibold;
  color: var(--bulma-grey-dark);
}
.features.grid h2 a:hover span,
.features.grid h2 a:focus span,
.features.grid h2 a:active span {
  color: var(--bulma-orange);
  text-decoration: none;
}
.features.grid p {
  font-size: 0.9em;
}
.features.grid .cell {
  margin: 0.4em 0;
}
// other elements
.screenshot-container {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.075);
  padding-bottom: 0;
  line-height: 0;
}
img.screenshot {
  border: 7px solid $grey-dark;
  border-bottom: 0 none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
img.screenshot.main {
  padding-top: 2px;
  padding-right: 4px;
}
.partners {
  img {
    max-height: 60px;
    margin: 0.5em 1em;
  }
  .ubisoft {
    max-height: 55px;
    opacity: 0.7;
  }
  .tdt {
    max-height: 42px;
    position: relative;
    top: -7px;
  }
  .uniurb {
    max-height: 80px;
    position: relative;
    bottom: -7px;
  }
  .insiel {
    position: relative;
    top: -9px;
    opacity: 0.7;
  }
  .ura {
    max-height: 54px;
    position: relative;
    top: -4px;
  }
  .wayru {
    position: relative;
    top: -6px;
    max-height: 55px;
    opacity: 0.7;
  }
  .db {
    position: relative;
    top: -8px;
    opacity: 0.7;
  }
}
.partners-page .is-hidden-desktop img {
  max-width: 322px;
}
.alternative-bg {
  background-color: var(--bulma-alternative-bg);
}
.circle {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 100%;
  text-align: center;
}
.bullet {
  margin-bottom: 1.2em;
}
.circles-top-left .bullet {
  position: relative;
  padding-left: 48px;
}
.circles-top-left .circle {
  position: absolute;
  left: 0;
  top: -5px;
}
// sticky footer
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex: 1;
}
.footer {
  margin-top: 1em;

  .social {
    margin: 0 0 0.5em;
    font-size: 1.4em;
  }
  .social a {
    margin-right: 0.56em;
    color: var(--bulma-grey-light);
  }
  .social a:hover {
    color: var(--bulma-orange);
  }
  .social a:last-child {
    margin: 0;
  }
  .navbar-brand img {
    width: 145px;
  }
  .navbar-item {
    padding: 0;
    display: block;
  }
  p {
    margin: 0.5em;
    font-size: 0.8em;
    line-height: 1.6em;
  }
}
// faq
.faq.menu {
  max-width: 768px;
  margin: 0 auto;
}
.faq.menu li > a {
  padding: 1em 1.4em;
  border-bottom: 1px solid var(--bulma-faq-menu-a-border);
  font-weight: 500;
}
.faq.menu li > a:hover,
.faq.menu li > a:focus,
.faq.menu li > a:active,
.faq.menu li:last-child > a {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.faq.menu li .text a {
  background: transparent;
  border-radius: 0;
  color: inherit;
  display: inline;
  padding: 0;
}
.faq .text {
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.faq li.is-active .text {
  padding: 1em;
  opacity: 1;
  height: auto;
}
.faq a.is-active,
.faq a.is-active:hover,
.faq a.is-active:focus {
  background: var(--bulma-alternative-bg);
  font-weight: $weight-semibold;
  border-bottom: 0 none;
}

.stats span {
  color: var(--bulma-orange);
  font-size: 1.3em;
  font-weight: $weight-semibold;
}
.stats p {
  margin: 0.5em 0;
}

@media only screen and (max-width: 400px) {
  .rounded,
  a.rounded:hover,
  a.rounded:focus,
  a.rounded:active {
    border: 0 none;
    background-color: transparent;
  }
  a.rounded:hover,
  a.rounded:focus,
  a.rounded:active {
    color: var(--bulma-orange);
  }
}

@media only screen and (max-width: 600px) {
  body .partners img {
    max-height: 40px !important;
    max-width: fit-content;
    position: static !important;
    margin: 0.9em;
  }
  .navbar-brand img {
    width: 130px;
  }
  .footer .column {
    padding-top: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  img.screenshot.main {
    width: 98%;
  }
}

@media only screen and (max-width: 799px) {
  #main-menu {
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  .navbar-center {
    display: block;
  }
  .navbar-center a {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .navbar-dropdown {
    padding: 0;
    margin: 0;
  }
  #main-menu .navbar-dropdown a {
    padding-left: 2.8em;
  }
  .navbar-end p.control {
    margin: 0 auto;
  }
  .has-dropdown .navbar-link::after {
    position: static;
    display: inline-block;
    margin: 0 0 3px 10px;
  }
}
// history
.points .point {
  margin: 1em;
}
.points .point .title {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  font-weight: $weight-medium;
  letter-spacing: -0.3px;
  color: var(--bulma-orange);
}
.points .subtitle {
  margin: 1.2em 0;
  font-size: 1.4em;
}
.points h2.rounded {
  display: inline-block;
  padding: 0.25em 1em;
  background: transparent;
  color: var(--bulma-grey-dark);
  font-weight: 400;
  font-size: 1.4em;
  border-radius: 30px;
}
.points .point p {
  text-align: justify;
}
.points .void {
  display: none;
}
.points .column {
  padding-bottom: 0;
}
@media only screen and (min-width: 1024px) {
  .points .column {
    position: relative;
  }
  .points .column .circle {
    display: block;
    position: absolute;
    top: 24px;
    background: #fff;
    border: 1px solid $orange-border-lighter;
    z-index: 99;
    line-height: 30px;
  }
  .points .column .circle::after {
    content: "";
    display: inline-block;
    background: var(--bulma-orange);
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .points .right .circle {
    left: -17px;
  }
  .points .left .circle {
    right: -18px;
  }
  .points .columns {
    margin: 0;
  }
  .points .column.left {
    padding-right: 1.25rem;
    border-right: 1px solid $orange-border-lighter;
  }
  .points .column.left .title {
    text-align: right;
  }
  .points .column.right {
    padding-left: 1.25rem;
    border-left: 1px solid $orange-border-lighter;
  }
  .points .column.right .title {
    text-align: left;
  }
  .points .column.void,
  .points .column.last {
    display: flex;
    border: 0 none;
  }
}
// team
.profile {
  margin: 0 1em;

  img {
    min-width: 120px;
    max-width: 200px;
    border-radius: 50%;
  }
  .team-role {
    font-weight: $weight-medium;
  }
}
.text p {
  margin-bottom: 1em;
}
.text p:last-child {
  margin-bottom: 0;
}
.profile.left {
  min-width: 200px;
}
@media only screen and (max-width: 1024px) {
  .profile img {
    max-width: 140px;
  }
}
// support
.grid.bordered .cell {
  padding: 1em;
  cursor: default;
}
@media only screen and (min-width: 1024px) {
  .grid.bordered .cell {
    border: 1px dotted var(--bulma-cell-border);
  }
  .grid.bordered .cell:hover {
    border-color: var(--bulma-cell-border-hover);
  }
}
// blog
article.blog {
  time {
    font-weight: $weight-semibold;
  }

  img {
    display: block;
    margin: 1.5rem auto;
  }

  div.section {
    padding: 1rem 0;
  }
}

// feed
/* purgecss start ignore */
// modal
.modal.fullscreen .modal-card {
  width: 98%;
  max-height: 98%;
}
.fade-in {
  display: block;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in; /* Transition effect */
}
.fade-in.visible {
  opacity: 1; /* Fully visible when class is added */
}
.feed {
  .date {
    color: rgba(0, 0, 0, 0.45);
  }
  .subtitle a {
    font-weight: $weight-semibold;
  }
  .content svg {
    margin-right: 2px;
    margin-bottom: -1px;
  }
  figure img {
    border-radius: 500rem;
  }
  figure a:hover {
    filter: brightness(100%);
  }
  .content pre {
    max-width: 100%;
    overflow-x: auto;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
    white-space: pre;
  }
  h3 code {
    background: rgba(0, 0, 0, 0.05);
    padding: 4px;
  }
  blockquote {
    margin: 0.75em 0;
    padding-left: 15px;
    border-left: 3px solid #ddd;
    color: var(--bulma-text);
  }
  hr:last-of-type {
    display: none;
  }
  .card code {
    font-size: inherit;
    padding: 0.2em 0.4em;
  }
  .card .title a {
    text-decoration: none;
  }
}
#load-more {
  display: block;
  margin: 1.5em auto;
}
.loading-overlay {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
.loading-overlay.initial {
  background: #fff;
}
.spinner {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* purgecss end ignore */

@media screen and (max-width: 900px) and (min-width: 800px) {
  .navbar-end .button.is-orange.with-text {
    --bulma-button-padding-horizontal: 0.8em;
  }
  .toggle-theme {
    margin-right: unset;
  }
}

@media screen and (min-width: 800px) {
  .toggle-theme-container {
    display: none;
  }
  .navbar-dropdown.is-boxed {
    border: 1px solid var(--bulma-border);
  }
}
