---
name: OpenWISP Website CI Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Upgrade npm
        run: npm install -g npm@latest

      - name: Install test dependencies
        run: |
          npm install -g htmlhint
          npm install -g jshint
          npm install -g stylelint
          pip install pylinkvalidator
          pip install openwisp-utils[qa]

      - name: QA checks
        run: ./run-qa-checks

      - name: Setup Google Cloud
        if: ${{ github.event_name=='push' }}
        uses: google-github-actions/setup-gcloud@v0
        with:
          service_account_key: ${{ secrets.GCS_DOWNLOADS_SERVICE_ACCOUNT_JSON }}
          project_id: ${{ secrets.GCS_PROJECT_ID }}
          export_default_credentials: true

      - name: Deploy pages to openwisp.org
        if: ${{ github.event_name=='push' }}
        run: gsutil -m rsync -r ${{ env.SRC_URL }} ${{ env.DST_URL }}
        env:
          SRC_URL: /home/runner/work/OpenWISP-Website/OpenWISP-Website
          DST_URL: gs://${{ secrets.GCS_WEBSITE_BUCKET_NAME }}
